// VARIABLES DECLARATIONS
$primary: #844DFF;
$secondary: #874CFF;
$text_color: #323232;
$text_color_light: #9D9D9D;
$bold_color: #141414;
$border_color: #E5E5E5;

// FONTS DECLARATIONS
$font-files: (
  "Poppins-Regular": (normal, normal),
  "Poppins-Italic": (normal, italic),
  "Poppins-Bold": (bold, normal),
  "Poppins-BoldItalic": (bold, italic),
  "Poppins-ExtraBold": (800, normal),
  "Poppins-ExtraBoldItalic": (800, italic),
);

@each $font-file, $font-properties in $font-files {
  $font-weight: nth($font-properties, 1);
  $font-style: nth($font-properties, 2);
  
  @font-face {
    font-family: "Poppins";
    src: url("../fonts/#{$font-file}.ttf") format("truetype");
    font-weight: $font-weight;
    font-style: $font-style;
  }
}

// STARTER STYLES
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #F0F0F0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

// MIXIN
@mixin input-data-design {
    display: flex;
    flex-direction: column;
    width: 120px;
    gap: 5px;

    label {
        font-weight: bold;
        color: $text_color;
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    input[type="number"] {
        appearance: textfield;
        -webkit-appearance: textfield;
        -moz-appearance: textfield;
    }

    .input_data {
        outline: none;
        border: 1px solid $border_color;
        border-radius: 5px;
        padding: 10px 18px;
        color: $text_color;
        font-weight: 800;
        font-size: 22px;
    }

    .error-message {
        color: red;
        font-size: 10px;
        letter-spacing: 0.3px;
        font-style: italic;
    }

    @media screen and (max-width: 650px) { 
        label {
            letter-spacing: 4px;
        }

        .input_data {
            border-radius: 5px;
            padding: 10px 18px;
            color: $text_color;
            font-weight: 800;
            font-size: 20px;
        }
    }
}


// CONTAINER
.container {
    background-color: white;
    width: 630px;
    height: auto;
    padding: 40px 40px;
    border-radius: 20px 20px 150px 20px;

    // INPUT SECTION
    .input_container {
        border-bottom: 1px solid $border_color;
        padding-bottom: 35px;
        position: relative;

        .input_content {
            display: flex;
            gap: 25px;
    
            .data_container {
                @include input-data-design()
            }

            .submit_button {
                position: absolute;
                bottom: -38px;
                right: 5px;
                background-color: #844DFF;
                border: none;
                cursor: pointer;
                border-radius: 50%; // Make the button rounded
                padding: 17px; // Add padding for a better appearance
                transition: 0.3s all ease-in-out;

                &:hover {
                    transform: scale(1.1);
                    background-color: $bold_color;
                }
              }
        }
    }

    .output_container {
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        line-height: 85px;
        div {
            font-weight: 800;
            font-size: 80px;
            font-style: italic;
            letter-spacing: -3px;
            padding-left: 2px;

            .output_data {
                letter-spacing: 10px;
                color: $secondary;
            }
        }
    }

}


@media screen and (max-width: 650px) {
    .container {
        width: 90%;
        padding: 45px 20px;
        border-bottom-right-radius: 100px;

        .input_container {
            .input_content {
                gap: 15px;
                margin-bottom: 20px;

                .data_container {
                    width: 30%;
                }

                .submit_button {
                    bottom: -33px;
                    right: 50%;
                    transform: translatex(50%);
                    padding: 12px;

                    &:hover {
                        transform: scale(1.1) translatex(45%);
                    }
                }
            }
        }

        .output_container {
            line-height: 60px;
            padding-top: 65px;
            div {
                font-size: 55px;
                letter-spacing: -2px;

                .output_data {
                    letter-spacing: 0px;
                }
            }
        }
    }
}
