@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #F0F0F0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: white;
  width: 630px;
  height: auto;
  padding: 40px 40px;
  border-radius: 20px 20px 150px 20px;
}
.container .input_container {
  border-bottom: 1px solid #E5E5E5;
  padding-bottom: 35px;
  position: relative;
}
.container .input_container .input_content {
  display: flex;
  gap: 25px;
}
.container .input_container .input_content .data_container {
  display: flex;
  flex-direction: column;
  width: 120px;
  gap: 5px;
}
.container .input_container .input_content .data_container label {
  font-weight: bold;
  color: #323232;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.container .input_container .input_content .data_container input[type=number]::-webkit-inner-spin-button,
.container .input_container .input_content .data_container input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.container .input_container .input_content .data_container input[type=number] {
  -moz-appearance: textfield;
}
.container .input_container .input_content .data_container .input_data {
  outline: none;
  border: 1px solid #E5E5E5;
  border-radius: 5px;
  padding: 10px 18px;
  color: #323232;
  font-weight: 800;
  font-size: 22px;
}
.container .input_container .input_content .data_container .error-message {
  color: red;
  font-size: 10px;
  letter-spacing: 0.3px;
  font-style: italic;
}
.container .input_container .input_content .submit_button {
  position: absolute;
  bottom: -38px;
  right: 5px;
  background-color: #844DFF;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  padding: 17px;
  transition: 0.3s all ease-in-out;
}
.container .input_container .input_content .submit_button:hover {
  transform: scale(1.1);
  background-color: #141414;
}
.container .output_container {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  line-height: 85px;
}
.container .output_container div {
  font-weight: 800;
  font-size: 80px;
  font-style: italic;
  letter-spacing: -3px;
  padding-left: 2px;
}
.container .output_container div .output_data {
  letter-spacing: 10px;
  color: #874CFF;
}/*# sourceMappingURL=style.css.map */